/**
 * 6.1 Widgets
 * ----------------------------------------------------------------------------
 */
/* line 6, ../../../scss/scss/objects/_widgets.scss */
.widget {
  font-size: 14px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0 0 24px;
  padding: 20px;
  word-wrap: break-word; }

/* line 17, ../../../scss/scss/objects/_widgets.scss */
.widget .widget-title {
  font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
  margin: 0 0 10px; }

/* line 22, ../../../scss/scss/objects/_widgets.scss */
.widget ul,
.widget ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 29, ../../../scss/scss/objects/_widgets.scss */
.widget li {
  padding: 5px 0; }

/* line 33, ../../../scss/scss/objects/_widgets.scss */
.widget .children li:last-child {
  padding-bottom: 0; }

/* line 37, ../../../scss/scss/objects/_widgets.scss */
.widget li > ul,
.widget li > ol {
  margin-left: 20px; }

/* Search widget */
/* line 49, ../../../scss/scss/objects/_widgets.scss */
.search-form .search-submit {
  display: none; }

/* RSS Widget */
/* line 54, ../../../scss/scss/objects/_widgets.scss */
.widget_rss .rss-date {
  display: block; }

/* line 62, ../../../scss/scss/objects/_widgets.scss */
.widget ul li ul {
  background-color: inherit;
  margin-top: 20px;
  border-top: 0;
  padding: 0;
  position: inherit; }
  /* line 68, ../../../scss/scss/objects/_widgets.scss */
  .widget ul li ul li a {
    display: block;
    font-size: inherit;
    color: inherit; }
  /* line 73, ../../../scss/scss/objects/_widgets.scss */
  .widget ul li ul :hover {
    background-color: inherit; }
    /* line 75, ../../../scss/scss/objects/_widgets.scss */
    .widget ul li ul :hover a {
      color: inherit; }

/* Calendar Widget */
/* line 83, ../../../scss/scss/objects/_widgets.scss */
.widget_calendar table,
.widget_calendar td {
  border: 0;
  border-collapse: separate;
  border-spacing: 1px; }

/* line 90, ../../../scss/scss/objects/_widgets.scss */
.widget_calendar caption {
  font-size: 14px;
  margin: 0; }

/* line 95, ../../../scss/scss/objects/_widgets.scss */
.widget_calendar th,
.widget_calendar td {
  padding: 0;
  text-align: center; }

/* line 101, ../../../scss/scss/objects/_widgets.scss */
.widget_calendar a {
  display: block; }

/* line 114, ../../../scss/scss/objects/_widgets.scss */
.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
  background-color: transparent; }
