@font-face {
font-family: siteheader;
src: url('../fonts/VarelaRound-Regular.ttf')
}

@font-face {
font-family: heading;
src: url('../fonts/SourceSansPro-Regular.ttf')
}

@font-face {
font-family: main;
src: url('../fonts/SourceSansPro-Light.ttf')
}