/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1{ 
	line-height: 1.2;
	&.site-title {
		font-size: $font-size-large*1.5;
	}
	&.entry-title {
		font-size: $font-size-large*1.2;
	} 
}

h2 { 
	line-height: 1.2;
	&.comments-title {
		margin-bottom: $pad;
	}
	&.linked-list-single {
		font-size: $font-size-large;
	}
}

h3 { 
	line-height: 1.2;
}

h4 {
	
}

h5 { 
	
}

h6 { 
	
}

/* Site headings */

h1#site-title {
	line-height: 1.4;
	display: inline;
}



h2.headline {
	clear: both;
}
/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
