/* Headings */
h1 { 
	line-height: 1.2;
	font-size: $font-size-large;
	color: $colour-h1;
	&.site-title {
		font-size: $font-size-larger;
	}
	&#site-title {
		line-height: 1.4;
		display: inline;
	}
}

h2 { 
	line-height: 1.2;
	color: $colour-h2;
	&.entry-title {
		font-size: $font-size-larger;
		a {
			font-size: $font-size-slightly-larger;
		} 
		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
	&.linked-list-item a, &.linked-list-single a {
		font-size: $font-size-sm;
	}
	&.comments-title {
		margin-bottom: $pad;
	}
	&.headline {
		clear: both;
	}
}

h3 { 
	line-height: 1.2;
}

h4 {
	
}

h5 { 
	
}

h6 { 
	
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
