body {
	font: 100%/1.5 $font;
	font-size: 18px;
	-webkit-text-size-adjust: 100%;
	font-family: 'main', sans-serif;
	width: 100%;
	@media all and (max-width: $bp-xl) {
		padding: 0 $pad-and-half 0 $pad-and-half;
	}
}	

a {
	text-decoration: none;
	outline: 0;

}