/* Text-Related Elements */ 

p {
	margin-bottom: $space;
    font-family: 'main', 'Verdana', sans-serif;   
}

/* Blockquote */

blockquote {
    font-style: italic;
    border-left: 7px solid $gray-light-4;
    padding-left: $pad;
    margin-bottom: $space;
    font-size: $font-size-slightly-larger;
    small {
        padding-top: $pad; 
        font-style: none;
        font-size: $font-size-slightly-smaller;
        display: block;
    }
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
    clear: both;
}
