//Article
article {
	vertical-align: top;
	margin-bottom: $pad-double;	
	p {
		text-align: justify;
	}
	img {
		margin-bottom: $pad;
		display: block;	
	}
	&.quote {
		margin-bottom: $pad-six;
		margin-top: $pad-six;
	}
	&.image {

	}
	&.sticky {
			padding: $pad;
			border-bottom: 4px dashed $midnight-3;
			background-image: url(../img/tag.png);
			background-origin: content-box;
			background-position: top right;
			background-repeat:no-repeat;
	}
	pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
}



.entry-content {
	.featured-image+& {
		@media all and  (min-width: $bp-small-2) {
			margin-left: $pad;	
		}
	}
}


.entry-header {
	h1 {
		font-size: $font-size-large;
	}
}

.byline {
	font-size: $font-size-slightly-smaller;
	margin-bottom: $space-half;
}

/* Wordpress Caption */
.wp-caption-text {
	font-style: italic;
}

