//Article
article {
	vertical-align: top;
	margin-bottom: $pad-double;	
	p {
		text-align: justify;
	}
	img {
		margin-bottom: $pad;
		display: block;	
	}
	&.quote {
		margin-bottom: $pad-six;
		margin-top: $pad-six;
	}
	&.image {

	}
	&.sticky {
			padding: $pad;
			border: 4px dashed $midnight-3;

	}
}



.entry-content {
	.featured-image+& {
		@media all and  (min-width: $bp-small-2) {
			margin-left: $pad;	
		}
	}
}


.entry-header {
	h1 {
		font-size: $font-size-large;
	}
}

.byline {
	font-size: $font-size-slightly-smaller;
	margin-bottom: $space-half;
}

/* Wordpress Caption */
.wp-caption-text {
	font-style: italic;
}

