.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.comment-meta {

	img {
		display: block;
		margin-bottom: $space-half;
		float: right;
	}
}
.comment-content {
	display: block;
}

li.comment  {
	padding: $pad;
	word-wrap: break-word;
	&:nth-child(odd) {
		background-color: lighten($link, 35%);
	}
		&>ul.children {
			background-color: #CC0;
		}
	& .bypostauthor {
		background-color: lighten($link, 50%);
	}
}	
