#site-title a, .nav a, #site-title a:visited, {
	color: darken($link, 24%);
} 

.logo {
	float: left;
	max-width: 8rem;
	margin: 0.4rem;

	@media all and (min-width: $bp-med) {
		max-width: 9rem;
	}
}

header#masthead {
	padding-top: $pad;
	padding-bottom: $pad;
}

header[role=banner] {
    font-family: 'header', sans-serif;   
    border-bottom: 1px solid;
    margin-bottom: $pad-double;
    padding-bottom: $pad-double;
}

.site-branding {
	max-width: 60%;
	float: left;
	@media all and (max-width: $bp-med) {
		max-width: 100%;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med) {
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}