#site-title a, .nav a, #site-title a:visited, {
	color: darken($link, 24%);
}



header[role=banner] {
	padding-top: $pad-half;
	font-family: 'heading', 'Verdana', sans-serif;
	margin-bottom: $pad-and-half;
	& .site-branding {
		max-width: 60%;
		float: left;
		@media all and (max-width: $bp-med) {
			max-width: 100%;
		}
	}
	& .border {
		padding-top: $pad;
		border-bottom: 1px solid black;
		clear: both;
	}
	& .header-image {
		padding-top: $pad;
		clear: both;
	}
	& img.site-logo {
		max-height: 100px;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;
	@media all and (min-width: $bp-med) {
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}