#page {
	max-width:1100px;
	margin:0px auto;
	max-height: 100%;
	min-height: 100%;
	margin-bottom: -42px;

	}

.container {
	@include gs-span(cl,2, 11);
	&.midnight {
		background: $link;
	}
	&.light {
		background: $link;
	}
	&.blue {
	}
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */

.left {
	float: left;
}
.right {
	float: right;
}


/* Two Column Layout */
.main {
	max-width: 100%;
	@media all and (min-width: $bp-large) {
		&.page {@include gs-span(cl, 2, 11);}
		body.left & {@include gs-span(cl, 4, 12);}
		body.right & {@include gs-span(cl, 1, 9);}
		body[class*='fullwidth'].right &,
		body[class*='fullwidth'].left &,
		body[class*="image"].left &,
		body[class*="image"].right & {@include gs-span(cl, 1, 12);}
	}
}
.sidebar {
	height: 100%;
	@media all and (max-width: $bp-large) {
		display: none;
	}
	@media all and (min-width: $bp-large) {
		body.nosidebar & {display:none;}
		body.left & {@include gs-span(cl, 1, 3);}
		body.right & {@include gs-span(cl, 10, 12)};
	}
}


/* Image sizes offsets */

.size-small {
	max-width: $small;
}
.size-medium {
	max-width: $medium;
}

.featured-image {
	display: table-cell;
	vertical-align: top;
	margin: $pad;
	@media all and  (max-width: $bp-small-2) {
		width: 100%;
		display: inline;
		margin-bottom: $pad;
	}
}
.wp-caption.alignleft {
	@media all and  (min-width: $bp-xl) {
	margin-left: -$smaller-offset;
	}
	@media all and  (min-width: $bp-xxl) {
	margin-left: -$medium-offset;
	}
}

.wp-caption.alignleft+img.size-full {
	margin-left: -20em;
}

.wp-caption.alignright {
	@media all and  (min-width: $bp-xl) {
	margin-right: -$smaller-offset;
	}
	@media all and  (min-width: $bp-xxl) {
	margin-right: -$medium-offset;
	}
}


p.wp-caption-text {
	margin-right: $pad;
	margin-bottom: 0px;
}
.alignnone {
	float: left;
	max-width: 100%;
	clear: both;

}
.aligncenter {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
	clear: both;
	margin-right: $pad;
	@media all and  (min-width: $bp-xl) {
		&.size-small, &.size-thumbnail {
			margin-left: -$smaller-offset;
		}
		&.size-medium, &.size-full,  {
			margin-left: -$mediumer-offset;
		}
		&.size-large {
			margin-left: -$larger-offset;
		}
		&.size-full {
			margin-left: 0;
		}
		.left & {
			margin-left: 0px;
		}
	}
	@media all and  (min-width: $bp-xxl) {
		&.size-small, &.size-thumbnail {
			margin-left: -$small-offset;
		}
		&.size-medium, &.size-full,  {
			margin-left: -$medium-offset;
		}
		&.size-large {
			margin-left: -$large-offset;
		}
		&.size-full {
			margin-left: 0;
		}
		.left & {
			margin-left: 0px;
		}
	}
}
	
.alignright {
	float: right;
	clear: both;
	margin-left: $pad;
	@media all and  (min-width: $bp-xl) {
		&.size-small, &.size-thumbnail {
			margin-right: -$smaller-offset;
		}
		&.size-medium, &.size-full {
			margin-right: -$mediumer-offset;
		}
		&.size-large {
			margin-right: -$larger-offset;
		}
		&.size-full {
			margin-right: 0;
		}
		.right & {
			margin-right: 0px;
		}
	}
	@media all and  (min-width: $bp-xxl) {
		&.size-small, &.size-thumbnail {
			margin-right: -$small-offset;
		}
		&.size-medium, &.size-full {
			margin-right: -$medium-offset;
		}
		&.size-large {
			margin-right: -$large-offset;
		}
		&.size-full {
			margin-right: 0;
		}
		.right & {
			margin-right: 0px;
		}
	}
}