[class^="ss-"]:before {
	margin-right: $pad-quarter;
	color: $gray;
	font-size: $font-size-slightly-smaller;
}

header.entry-header, .entry-meta {
	margin-bottom: $pad-half;
}

.posted-on, .bypostauthor, .byline {
	font-style: italic;
}

[rel="tag"]{	
	&:before {
		font-family: "SSStandard";
		content: "tag";
		color: $link;
		font-size: $font-size-sm;
		margin-right: 6px;
	}
} 

.nav-links {
	background-color: lighten($link, 50%);
	margin-bottom: $pad;

	padding: $pad;
	a {
		color: #000;
		&[rel="previous"] {
			float: left;
		}
		&[rel="next"] {
			float: right;
		}
	}
}