[class^="ss-"]:before {
	margin-right: $pad-quarter;
	color: $gray;
	font-size: $font-size-slightly-smaller;
}

header.entry-header {
	margin-bottom: $pad-half;
}

.posted-on, .bypostauthor, .byline {
	font-style: italic;
}

[rel="tag"]{	
	&:before {
		font-family: "SSStandard";
		content: "tag";
		color: $midnight-2;
		font-size: $font-size-sm;
		margin-right: 6px;
	}
} 