.entry-meta {
	margin-bottom: $pad-half;
	color: $colour-meta;
	& a:hover {
		background-color: $link;
		color: #fff;
	}
}

.posted-on, .bypostauthor, .byline {
	font-style: italic;
}

[rel="tag"]{	
		content: "tag";
		
} 
.paging-navigation .meta-nav.previous {
	float: right;
}
span.tags-links {
white-space: pre-line;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}