/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.site-navigation {
	clear: both;
	overflow: hidden;
	max-height: 0;
	a {
		display: block;
		padding: $pad $pad $pad 0;
		margin: $space-top;
		font-weight: bold;
		color: darken($midnight-3, 5%);
		&.active {
			color: darken($midnight-2, 15%);
		}
		&:hover {
			color: darken($midnight-3, 20%);
			text-decoration: underline;
		}
	}
	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;
		li {
			float: left;
		}
		a {
			border: 0;
		}
	}
}



//Pagination
.pagination {
	margin: 0 auto;
	overflow: hidden;
	width: 350px;
	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}