.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
.comments-area {
	margin-top: $space;	
}

.comment-content {
	display: block;
}

li.comment  {
	margin-top: $pad;
	padding: $pad;
	margin-bottom: $pad-double;
	word-wrap: break-word;
	&:nth-of-type(odd) {
		border-left: 1px solid black;
		& .comment-meta img {
			float: left;
		}
	}
	&:nth-of-type(even) {
		text-align: right;
		border-right: 1px solid black;
		& .comment-meta img {
			float: right;
		}

	}
	& .bypostauthor {
		border: 1.5px dashed black;
	}
	& .comment-meta {
		img {
			display: block;
			margin: $space;
		}
	}
}


li.pingback {
	padding-left: $space;
	padding-bottom: $space-half;
	padding-top: $space-half;
	&:nth-child(odd) {

	}
}