
/* =Menu
----------------------------------------------- */
.main-navigation {
	display: inline;
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: none;
			float: left;
			left: 0;
			position: absolute;
			top: 1.5em;
			z-index: 99999;
			background-color: #fff;
		}
		a {
			display: block;
			text-decoration: none;
		}
		li {
			display: inline-block;
			position: relative;
			float: left;
			padding: $pad;
			ul.sub-menu {
				clear: both;
				margin-top: 20px;
				border-top: 0;
				padding: 0;
				li { 
					padding: $pad-half;
					a {
						display: block;
					}
				}
			}
			&.current-menu-item {
				a {
					border-bottom: 1px solid black;
				}

			}
		}
	}
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul li:hover > ul {
	display: block;
}


.menu-short-container {
	& .current-menu-item {
		& a {
		}
	}
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		position: relative;
		float: right; 
	}
	.main-navigation .menu-toggle {
		text-transform: uppercase;
		font-size: 1.5em;
	}
	.main-navigation.toggled .menu-toggle{
		font-style: italic;
	}

	.main-navigation ul {
		display: none;
	}
}

/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}

#image-navigation span {
	&.previous-image a{
		float: left;
		padding: $space-half;
		background-color: $link;
		color: #fff;
		margin-bottom: $pad;
	}
	&.next-image a{
		float: right;
		padding: $space-half;
		background-color: $link;
		color: #fff;
		margin-bottom: $pad;
	}
	a {
		color: #fff;
	}
}

.nav-links {
	background-color: $bg-meta;
	padding: $pad;
	display: block;
	a[rel="next"]  {
		float: right;
	}
	a[rel="previous"] {
		float: left;
	}
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
}